<span class="editable" (click)="toggleMode(true)" (keyup.enter)="toggleMode(false)">
  <mat-form-field class="form-field-short" *ngIf="editMode;">
    <input matInput autofocus type="number" [value]="valueMin" (change)="setMinValue($event.target.value)"/>
  </mat-form-field>
  <mat-form-field class="form-field-short" *ngIf="editMode; else elseBlock" >
    <input matInput type="number" [value]="valueMax" (change)="setMaxValue($event.target.value)"/>
  </mat-form-field>
  <ng-template #elseBlock>
    <span *ngIf="valueMin">{{valueMin}}</span>
    <span *ngIf="!valueMin">&nbsp;&nbsp;</span>
      -
    <span *ngIf="valueMax">{{valueMax}}</span>
    <span *ngIf="!valueMax">&nbsp;&nbsp;</span>
  </ng-template>
</span>
