<span class="editable" (click)="toggleMode(true)" (keyup.enter)="toggleMode(false)">
  <mat-form-field class="form-field" *ngIf="editMode; else elseBlock">
    <mat-select autofocus [(ngModel)]="value">
      <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-template #elseBlock>
    <span matTooltip="{{TOOLTIP}}" *ngIf="value">{{value}}</span>
    <span matTooltip="{{TOOLTIP}}" *ngIf="!value">&nbsp;&nbsp;</span>
  </ng-template>
</span>

